@model List<Asm_Ph21208.Models.Product>
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- product category -->
  <section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content">
            <div class="aa-product-catg-head">
              <div class="aa-product-catg-head-left">
                <form action="" class="aa-sort-form">
                  <label for="">Sắp xếp</label>
                  <select name="">
                    <option value="1" selected="Default">Mặc định</option>
                    <option value="2">Tên</option>
                    <option value="3">Giá</option>
                  </select>
                </form>
              </div>
              <div class="aa-product-catg-head-right">
                <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
              </div>
            </div>
            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">
                <!-- start single product item -->
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <li class="@((item.Status != 1) ? "aa-sold-out" : "")"  style="width: 100%; height: 100%; padding-bottom:100px">
                          <figure>
                            <a class="aa-product-img" href="~/SanPham/ChiTiet?id=@item.ID"><img src="~/img/@item.img" alt="polo shirt img" width="250px" height="300px"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="~/SanPham/ChiTiet?id=@item.ID">@item.Name</a></h4>
                              <span class="aa-product-price">@item.Price</span><span class="aa-product-price">
                                @if (item.Status == 1&&item.AvailableQuantity>0) {
                                  <span>Còn hàng</span>
                                } else {
                                  <s>Hết hàng</s>
                                }
                              </span>
                            </figcaption>
                          </figure>                        
                          <div class="aa-product-hvr-content">
                            <a href="~/SanPham/ChiTiet" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                            <a href="~/SanPham/ChiTiet" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                            <a href="~/SanPham/ChiTiet" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-                                        modal"><span class="fa fa-search"></span></a>                          
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="~/SanPham/ChiTiet">SALE!</span>
                        </li>
            
            </div>
            }

                                               
              </ul>            
              <!-- / quick view modal -->   
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
          <aside class="aa-sidebar">
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Loại sản phẩm</h3>
              <ul class="aa-catg-nav">
                <li><a href="#">Nam</a></li>
                <li><a href="">Nữ</a></li>
                <li><a href="">Trẻ em</a></li>
              </ul>
            </div>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Khoảng giá</h3>              
              <!-- price range -->
              <div class="aa-sidebar-price-range">
               <form action="">
                  <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>
                  <span id="skip-value-lower" class="example-val">30.00</span>
                 <span id="skip-value-upper" class="example-val">100.00</span>
                 <button class="aa-filter-btn" type="submit">Lọc</button>
               </form>
              </div>              

            </div>
      
          </aside>
        </div>
       
      </div>
    </div>
  </section>
  }
  <!-- / product category -->

